.container {
  display: flex;
  height: 100vh;
}

.background {
  height: 100vh;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}

.Form_inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;


}

.form_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9c9c9e;
}

.Form_email {
  width: 296px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #1390E5;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #272727;
  padding: 0 0 0 10px;
  background-color: #fff;
  cursor: pointer;
  outline: none;

  &__label {
    position: absolute;
    top: 8px;
    left: 21px;
    font-size: 19px;
    outline: none;
    color: #9c9c9e;
  }
}

.Form_container .Form_email:focus+label,
.Form_container .Form_email:not(:placeholder-shown)+.Form_email__label {
  transform: translateY(-16px);
  font-size: 13px;
  background-color: #ffffff;
  padding: 0px 10px;
  transition: all 0.7s ease;
  background-color: #1390E5;
  color: #fff;
  border: 1px solid #0c82d1;
  border-radius: 10px;
  outline: none;
}


.Form_pass {
  width: 296px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #1390E5;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #272727;
  padding: 0 0 0 10px;
  cursor: pointer;
  outline: none;

  &__label {
    position: absolute;
    top: 7px;
    left: 21px;
    font-size: 19px;
    outline: none;
    color: #9c9c9e;
  }
}

.Form_container_pass .Form_pass:focus+label,
.Form_container_pass .Form_pass:not(:placeholder-shown)+.Form_pass__label {
  transform: translateY(-16px);
  font-size: 13px;
  background-color: #ffffff;
  padding: 0px 10px;
  transition: all 0.7s ease;
  background-color: #1390E5;
  color: #fff;
  border: 1px solid #0c82d1;
  border-radius: 10px;
  outline: none;
}




.Form_container {
  position: relative;
  height: 125px;
}

.Form_container_pass {
  position: relative;
  height: 125px;
}

.img {
  position: relative;
  margin: 125px 0 35px 0;

  &__zamena {
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  &__delete {
    position: absolute;
    top: -11px;
    right: -15px;
    opacity: 0.4;
    transition: all ease 1s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
.error{
  margin: -15px 0 34px 0;
  &__text{
    font-size: 17px;
    font-weight: 400;
    color: red;
  }
}
.form_img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 8px;
  cursor: pointer;
}

.errorPoppup {
  color: red;
  font-size: 16px;
  padding: 3px 0 0 0;
}

.Button_container {
  display: flex;
  justify-content: center;
}

.Form_button {
  margin: 0 0 45px 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Form_button::after {
  content: "";
  background-color: #2e94cf;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Form_button:hover::after {
  top: 0px;
  left: 0px;
}

.activImg {
  width: 131px;
  height: 131px;
  border-radius: 60px;
}

@media (min-width: 768px) {
  .Form_button {
    padding: 13px 50px 13px;
  }

}

@media(max-width:1000px) {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    filter: brightness(0.3);
  }

  .container {
    justify-content: center;
  }

  .img {
    margin: 141px 0 35px 0;

    &__zamena {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
  }
}


@media(max-width:534px) {
  .Form_inner {
    width: 256px;
  }

  .Form_email {
    width: 229px;
    font-size: 16px;
  }

  .Form_pass {
    width: 229px;
    font-size: 16px;
  }

  .errorPoppup {
    font-size: 11px;
  }
}



.topScroll {
  position: absolute;
  top: -82px;
  left: 0;
  width: 100%;
  transition: all ease 1s;
  cursor: pointer;
}

.bottomScroll {
  top: 0;
  transition: all ease 1s;
}

.disabled {
  pointer-events: none;
  /* Запрещаем взаимодействие с элементом */
  opacity: 0.5;
  /* Устанавливаем непрозрачность элемента, чтобы он выглядел отключенным */
  cursor: not-allowed;
  /* Устанавливаем курсор "не разрешено" */
}