.box {
    max-width: 370px;
    min-height: 250px;
    background-color:var(#{--cart-background-default});
    border-radius: 10px;
    padding: 11px 5px;
    border: var(#{--cart-border-default});
    margin: 0 15px;
    color: var(#{--cart-text-color-default});
}

.item {
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;

    &__tags {
        min-width: 100px;
        padding: 10px 8px;
        cursor: pointer;
        opacity: 0.5;
        transition: all ease 0.5s;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width:961px) {
    .disabled {
        display: none
    }

    .box {
        width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:11;
        margin: 0 0;
    }

    .modalWrapper {
        top: 0;
        left: 0;
        height: 100%;
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .7);
        z-index: 10;
    }
}