.container {
  height: 100%;
  display: flex;
}

.background {
  height: 100vh;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Form_inner {
  padding: 0 27px;
  width: 400px;
  height: 340px;
  display: flex;
  flex-direction: column;
  margin: 227px auto 45px auto;
  align-items: center;

}

.form_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9c9c9e;
}

.Form_email {
  width: 250px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid orange;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #272727;
  padding: 0 0 0 10px;
  background-color: #fff;
  cursor: pointer;
  outline: none;

  &__label {
    position: absolute;
    top: 7px;
    left: 15px;
    font-size: 19px;
    outline: none;
    color: #9c9c9e;
  }
}

.Form_container .Form_email:focus+label,
.Form_container .Form_email:not(:placeholder-shown)+.Form_email__label {
  transform: translateY(-16px);
  font-size: 13px;
  background-color: #ffffff;
  padding: 0px 10px;
  transition: all 0.7s ease;
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  border-radius: 10px;
  outline: none;
}


.Form_pass {
  width: 211px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid orange;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #272727;
  padding: 0 41px 0 10px;
  background-color: #fff;
  cursor: pointer;
  outline: none;

  &__label {
    position: absolute;
    top: 7px;
    left: 15px;
    font-size: 19px;
    outline: none;
    color: #9c9c9e;
  }
}

.Form_container_pass .Form_pass:focus+label,
.Form_container_pass .Form_pass:not(:placeholder-shown)+.Form_pass__label {
  transform: translateY(-16px);
  font-size: 13px;
  background-color: #ffffff;
  padding: 0px 10px;
  transition: all 0.7s ease;
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  border-radius: 10px;
  outline: none;
}



.Form_container {
  position: relative;
  height: 100px;
}

.Form_container_pass {
  position: relative;
  height: 125px;
}


.form_img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.errorPoppup {
  color: red;
  font-size: 13px;
  padding: 3px 0 0 0;
}

.Button_container {
  display: flex;
  justify-content: center;
}

.Form_button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Form_button::after {
  content: "";
  background-color: orange;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Form_button:hover::after {
  top: 0px;
  left: 0px;
}

.disabled {
  pointer-events: none;
  /* Запрещаем взаимодействие с элементом */
  opacity: 0.5;
  /* Устанавливаем непрозрачность элемента, чтобы он выглядел отключенным */
  cursor: not-allowed;
  /* Устанавливаем курсор "не разрешено" */
}

.error {
  margin: -47px 0 23px 0;

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: red;
  }
}

@media(max-width:800px) {
  .background {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -2;
    filter: brightness(0.2);
  }

  .Form_inner {
    margin: 227px auto 45px auto;
  }

  .error {
    margin: -65px 0 33px 0;
  }
}

@media (min-width: 768px) {
  .Form_button {
    padding: 13px 50px 13px;
  }
}


@media(max-width:534px) {
  .Form_inner {
    width: 256px;
  }

  .Form_email {
    font-size: 16px;
  }

  .Form_pass {
    font-size: 16px;
  }

  .errorPoppup {
    font-size: 11px;
  }
}


.topScroll {
  position: absolute;
  top: -82px;
  left: 0;
  width: 100%;
  transition: all ease 1s;
  cursor: pointer;
}

.bottomScroll {
  top: 0;
  transition: all ease 1s;
}