.intro {
    max-height: 100vh;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100vh;
    }
}


.welcom {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__img {
        height: 100%;
        width: 100%;
    }

    &__bck {
        height: 100%;
        width: 100%;
        display: none;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        object-fit: cover;
    }

    &__img {
        display: none;
    }
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 942px;
    font-size: 75px;
    padding: 36px 0px;
    z-index: 3;




    &:after {
        position: absolute;
        width: 18px;
        height: 18px;
        content: '';
        border-color: #e6e6e8;
        border-style: solid;
    }

    &__item:after {
        position: absolute;
        width: 18px;
        height: 18px;
        content: '';
        border-color: #e6e6e8;
        border-style: solid;

    }

    &:before {
        left: 0px;
        top: 0px;
        border-width: 9px 0 0 9px;
    }

    &:after {
        right: 0px;
        top: 0px;
        border-width: 9px 9px 0 0;
    }

    &__item:before {
        right: 0px;
        bottom: 0px;
        border-width: 0 9px 9px 0;
    }

    &__item:after {
        left: 0px;
        bottom: 0px;
        border-width: 0 0 9px 9px;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width :1145px) {
    .welcom {
        padding: 0 0;
    }

    .welcom__video {
        display: none;
    }

    .welcom__img {
        display: flex;
        height: 100vh;
        overflow: hidden;
        filter: brightness(0.4);
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width :960px) {
    .title {
        width: 500px;
        font-size: 34px;
        padding: 36px 0px;
    }
}

@media (max-width :542px) {
    .title {
        width: 350px;
        font-size: 22px;
        padding: 36px 0px;
    }
    .welcom__img{
        width: 120%;
    }
}

@media (max-width :450px) {

    .welcom {

        &__bck {
            height: 100vh;
            width: 132%;
            display: block;
            filter: brightness(0.4);
        }

        &__img {
            display: none;
        }
        &__bck{
            width: 150%;
        }
    }
}

@media (max-width :398px) {
    .title {
        width: 250px;
        font-size: 17px;
        padding: 36px 0px;
    }
}
@media (max-width :354px) {
    .welcom__bck{
        width:177% ;
    }
}