.lent {
    width: 791px;
    min-height: 450px;
    cursor: pointer;
    text-decoration: none;
    background-color: #f1eee9;
    margin-bottom: 50px;
    border-radius: 5px;
}

.img {
    background-color: #f1eee9;
    width: 790px;
    height: 300px;
    overflow: hidden;
    padding: 40px 0 0 0;
    &__items{
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.data {
    max-width: 770px;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;

    &__item {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 9px 0 0 0
    }
}

.title{
    max-width: 770px;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    &__item {
        font-size: 34px;
    }
}
.tags{
    max-width: 770px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    &__item {
        font-size: 16px;
        letter-spacing: 2px;
    }
}

.viewsCount{
    max-width: 770px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    margin: 10px 0 0px 13px;
    padding-bottom: 10px;
    &__item {
        font-size: 16px;
    }
    &__img{
        width: 23px;
        height: 24px;
        margin: 0 10px 0 0;
    }
}
