.container{
    max-width: 1230px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.itembox{
    display: flex;
    justify-content: space-between;
}
.sortbar{
    display: flex;
    flex-direction: column;
    
}
@media (max-width:960px) {
    .itembox{
        display: flex;
        justify-content: center;
    }
    }