.lentComment {
    &__container {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
    }

    &__item {
        width: 85%;
        margin: 0 auto 20px auto;
        text-align: start;
        padding: 68px 15px 45px 93px;
        height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 2px solid #d9d0d0;
        -webkit-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
        font-size: 20px;
        word-wrap: break-word
    }

    &__delete {
        width: 23px;
        height: 23px;
        position: absolute;
        top: 31px;
        right: 4%;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 2px 4px;
        border: 2px solid #b4b0b0;
        border-radius: 8px;
        fill: #b4b0b0;
        &:hover {

            fill: #0d0d0d;
        }
    }

    &__user {
        display: flex;
        position: absolute;
        top: 27px;
        left: 25px;
    }

    &__img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 0 4px 0 3px;
    }

    &__name {
        margin: 0 0 0 10px;
        font-size: 18px;
    }

}


@media (max-width:815px) {
    .lentComment {
        &__container {
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
            padding: 15px 0;
        }

        &__item {
            width: 90%;
            margin: 0 auto 20px auto;
            text-align: start;
            padding: 64px 15px 11px 15px;
            height: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            border: 2px solid #d9d0d0;
            -webkit-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            font-size: 20px;
            word-wrap: break-word
        }

        &__delete {
            position: absolute;
            top: -10px;
            right: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: rotate(360deg);

                &::after {
                    content: "delete";
                    width: 50px;
                    height: 20px;
                    color: black;
                }
            }
        }

        &__user {
            display: flex;
            position: absolute;
            top: 27px;
            left: 40px;
        }
    }

}


@media (max-width:744px) {
    .lentComment__user {
        top: 27px;
        left: 5%;
    }
}

@media (max-width:444px) {
    .lentComment {
        &__container {
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
            padding: 15px 0;
        }

        &__item {
            width: 77%;
            margin: 0 auto 20px auto;
            text-align: start;
            padding: 64px 15px 11px 15px;
            height: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            border: 2px solid #d9d0d0;
            -webkit-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 13px -17px 17px -10px rgba(0, 0, 0, 0.2) inset;
            font-size: 20px;
            word-wrap: break-word
        }

        &__delete {
            position: absolute;
            top: -10px;
            right: 35px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: rotate(360deg);

                &::after {
                    content: "delete";
                    width: 50px;
                    height: 20px;
                    color: black;
                }
            }
        }

        &__user {
            top: 27px;
            left: 11%;
        }
    }

}

@media (max-width:367px) {
    .lentComment {
        &__delete {
            top: -10px;
            right: 24px;
        }
    }
}