.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 30px 0;
    height: 60px;
}

.button {
    margin: 0 30px;
    font-size: 18px;

    &__inner {
        padding: 5px 16px;
        cursor: pointer;
    }
}

.activ{
    transition: all ease 0.1s;
    border-bottom: 2px solid #154ce1;
    color:#154ce1 ;
}

@media (max-width:560px) {
    .button {
        margin: 0 4px;
        font-size: 15px;
    }
    
}